<div class="container">
  <h1>{{pageHeading}}</h1>
  <p style="color: red;">* Please fill all the form fields.</p>
  <form (ngSubmit)="f.form.valid && onSubmit();" #f="ngForm" method="post" style="min-width: 500px;" novalidate>

    <div class="form-group">
      <label for="title">Title : <span style="color: red;">*</span></label>
      <input ngModel type="text" class="form-control" maxlength="50" placeholder="Enter Title" name="title" #title="ngModel" id="title" required/>
      <div *ngIf="title.invalid && (title.dirty || title.touched || f.submitted)" style="color: red;">
        <div *ngIf="title.errors.required">Title is required.</div>
        <div *ngIf="title.errors.maxlength">Title can't exceed  {{title.errors.maxlength?.requiredLength}} characters.</div>
        <div *ngIf="title.errors.validUsername">Please enter a valid title.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="body">Body : <span style="color: red;">*</span></label>
      <textarea ngModel id="body" name="body" class="form-control" minlength="50" #body="ngModel" placeholder="Enter Desc" style="height: 100px;" required></textarea>
      <div *ngIf="body.invalid && (body.dirty || body.touched || f.submitted)" style="color: red;">
        <div *ngIf="body.errors.required">Desc is required.</div>
        <div *ngIf="body.errors.minlength">Desc must be at least {{body.errors.minlength?.requiredLength}} characters long.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="body">Rating : <span style="color: red;">*</span></label>
      <app-rating-input name="rating" [(ngModel)]="ratingCount" #rating="ngModel"></app-rating-input>
      <div *ngIf="!ratingCount && (f.submitted)" style="color: red;">
        <div *ngIf="!ratingCount">Please rate the post.</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

  <h2 class="text-center" style="width: 100%;">Post Listing</h2>
  <table class="table" style="width: 100%;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col" style="text-align: center;">Rating</th>
        <th scope="col" style="text-align: center;">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="!loading" id="postBody">
      <tr @fade *ngFor="let post of posts; let i = index">
        <td>{{i + 1}}</td>
        <td>
          <div appHighlightLongString [str]="post.title" [len]="20">{{post.title | slice:0:40}}</div>
        </td>
        <td>{{post.body | slice:0:50}}</td>
        <td style="text-align: center;">{{post.rating}}</td>
        <td style="text-align: center;"><a (click)="onDelete(i)" style="cursor: pointer;">Delete</a></td>
      </tr>
    </tbody>
    <tbody *ngIf="loading">
      <tr>
        <td colspan="3" style="text-align: center; width: 400px;">Loading...</td>
      </tr>
    </tbody>
  </table>

</div>
