<h1 class="h2 text-center">Test Moment Lib</h1>
<p class="text-center">
  Date in Miliseconds: {{ currentDateInMiliseconds }}
</p>
<p class="text-center">
  Standard Date: {{ currentDate }}
</p>
<p class="text-center">
  Current Year: {{ currentYear }}
</p>
<p class="text-center">
  Current Month: {{ currentMonth }}
</p>
<p class="text-center">
  Current Date: {{ currentDt }}
</p>
<p class="text-center">
  add2Years: {{ add2Years }}
</p>
<p class="text-center">
  add2Months: {{ add2Months }}
</p>
<p class="text-center">
  add2Days: {{ add2Days }}
</p>
<p class="text-center">
  add2Hours: {{ add2Hours }}
</p>
<p class="text-center">
  add2Minutes: {{ add2Minutes }}
</p>
<p class="text-center">
  add2Seconds: {{ add2Seconds }}
</p>
<p class="text-center">
  sub2Years: {{ sub2Years }}
</p>
<p class="text-center">
  getCurrUSADate: {{ getCurrUSADate }}
</p>



<p>
<!-- const startDate = moment().subtract(this.selectedDateRange[0], this.selectedDateRange[1]);
moment().toDate(): {{currentDate}}
this.dateInput = moment().toDate();
dateFilter = (d: moment.Moment): boolean => {
	return !d.isSame(moment('20200115'));
}
const currentYear = moment().year();
const todayString = moment().format('MM/DD/YYYY');
moment(`${currentYear}-01-13`).toDate()
this.minDate = moment().tz(activeTimeZone).format('YYYY-MM-DD');
const result = `${ moment().diff(moment(dob), 'years') } Years`;
const dob = moment().subtract(2, 'months').format('YYYY-MM-DD');
const dob = moment().subtract(2, 'days').format('YYYY-MM-DD');
const diffYear = moment().diff(dob, 'years');
const startDate = moment('2017-01-01');
return moment(value, this.format).isValid();
dueRange = moment().tz(this.timezone).startOf('day').format();
dueRange = moment().tz(this.timezone).add(59, 'd').startOf('day').format();
mputation => moment(amputation.documentDateTime).isBefore(moment(this.lastUpdatedDate))
maxMeetingDate: Date = moment(new Date()).tz(this.timeZoneManager.timezone).add(60, 'days').toDate();
minDate: Date = moment().tz(this.timeZoneManager.timezone).subtract(7, 'years').toDate();
hit._source.isAssessmentPastDue = moment().tz(this.timeZoneManager.timezone).isAfter(moment(hit._source.assessment.dueDate).tz(this.timeZoneManager.timezone));
!moment(this.finalizePocData.idtMeetingDate).isSame(this.idtMeetingExpectedDate)
this.isGoLiveAndWithin60Days = moment(days60FrmGoLive).tz(this.timezone).isSameOrAfter(this.currentDate);
const fromDate = moment().subtract(13, 'd').format('YYYY-MM-DD');
const dateToBeCompared = moment().tz(this.activeTimeZone).add(-7, 'day').toDate();
 this.toPrintDate = moment().tz(this.activeTimeZone).startOf('day').toDate().toISOString(); -->
</p>
