<h1 class="text-center" style="width: 100%;">Post Listing</h1>
<table class="table" style="width: 100%;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="!loading">
    <tr *ngFor="let post of posts; let i = index">
      <td>{{i + 1}}</td>
      <td>
        <div appHighlightLongString [str]="post.title" [len]="20">{{post.title}}</div>
      </td>
      <td>{{post.body}}</td>
      <td style="min-width: 120px;">
        <a [routerLink]="['editpost', post.id]" style="cursor: pointer;">Edit</a>&nbsp;|
        <a (click)="onDelete(i)" style="cursor: pointer;">Delete</a>&nbsp;
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="loading">
    <tr>
      <td colspan="3" style="text-align: center; width: 400px;">Loading...</td>
    </tr>
  </tbody>
</table>
