<h1 class="h3 text-center">{{title}}</h1>
<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions" class="form-row">
      <div class="form-group col-md-12">
        <app-question [question]="question" [form]="form"></app-question>
      </div>
    </div>

    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>

  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
