<h1 class="text-center mb-2">Welcome to {{heading}}.</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Massa placerat duis ultricies lacus sed turpis. Mi bibendum neque egestas congue quisque. Ac placerat vestibulum lectus
  mauris ultrices eros. Nunc mattis enim ut tellus elementum sagittis. Pretium lectus quam id leo in. Sed adipiscing diam
  donec adipiscing tristique risus nec feugiat in. Arcu non sodales neque sodales ut etiam. Facilisi nullam vehicula ipsum
  a arcu cursus vitae. Rhoncus dolor purus non enim praesent elementum facilisis leo. Ultrices in iaculis nunc sed. Nunc
  non blandit massa enim nec dui nunc. Egestas maecenas pharetra convallis posuere morbi leo urna molestie. Nisl nunc mi
  ipsum faucibus vitae aliquet nec. Sed vulputate odio ut enim blandit volutpat maecenas volutpat. Nulla pharetra diam sit
  amet nisl suscipit.
</p>


<p>
  Nisi porta lorem mollis aliquam ut porttitor. Viverra suspendisse potenti nullam ac tortor vitae. Pellentesque eu tincidunt
  tortor aliquam nulla facilisi cras. Dui accumsan sit amet nulla facilisi morbi tempus iaculis. Enim sed faucibus turpis
  in eu mi. Faucibus purus in massa tempor nec. Sapien pellentesque habitant morbi tristique senectus et netus et. Enim neque
  volutpat ac tincidunt vitae semper. Neque gravida in fermentum et sollicitudin ac orci phasellus. Ultrices tincidunt arcu
  non sodales neque sodales ut.
</p>

<div>
  <app-article-a *ngIf="slider === 0"></app-article-a>
  <app-article-b *ngIf="slider === 1"></app-article-b>
  <app-article-c *ngIf="slider === 2"></app-article-c>
</div>
